<div style="text-align: left; background-color:azure; padding: 5px; font-family: Arial, Helvetica, sans-serif ;">
  
    <h1 ><img src="https://image.shutterstock.com/image-vector/bus-head-logo-260nw-673063534.jpg" height="5%" width="5%">LTI TRAVELS</h1>
    <div style="text-align: right; ">
        <!-- <a routerLink='Sign-Up' style="color:black">Sign-Up</a> -->
        <a routerLink='Admin Login' style="color:black">Admin Login</a> 
        
    </div>
    
</div>

<!-- <div style="background-color: blue; padding: 15px; font-family:sans-serif;">
    <div style="text-align: left; ">
        <a routerLink='Home' style="color:black">Home</a>  
        <a routerLink='About Us' style="color:black">About Us</a><a routerLink='Terms Of Use' style="color:black">Terms Of Use</a><a routerLink='Contact Us' style="color:black">Contact Us</a>
        <a routerLink='Login' style="color:black">Login</a>  <a routerLink='Sign-Up' style="color:black">Sign-Up</a>
        
    </div>
    <br>
</div> -->
 
<div *ngIf="!message" [ngStyle]="{'background-color':'blue'}" style="padding:15px">
    <!--<ul style="background-color: blue; padding: 15px; font-family:sans-serif;text-align: left; ">   -->    
       
        <a routerLink='Home' style="color:black">Home</a> <a routerLink='About Us' style="color:black">About Us</a><a routerLink='Terms Of Use' style="color:black">Terms Of Use</a><a routerLink='Contact Us' style="color:black">Contact Us</a>  
        <a routerLink='Login' style="color:black">Login</a>
        <a routerLink='Sign-Up' style="color:black">Sign-Up</a>
        <a routerLink='Searchbus' style="color:black">Book Bus</a>
       
         
       
   </div> 

  


<div *ngIf="message">
    <div style="background-color: blue; padding: 15px; font-family:sans-serif;text-align: left; color: black;">  
        
        Welcome {{user}}
    
        <a routerLink='About Us' style="color:black">About Us</a><a routerLink='Terms Of Use' style="color:black">Terms Of Use</a><a routerLink='Contact Us' style="color:black">Contact Us</a><a routerLink='Searchbus' style="color:black">Book Bus</a> 
       
            <a [routerLink]=" "  (click)='logout()' [ngStyle]="{'background-color':'blue'}" style="color:black">Logout</a>
    </div>
    
   </div>
