  
    <div>
        <img src="\assets\buselectric.jpg" height="10%" width="100%" class="img-fluid"></div>
        
          <!-- <div [ngStyle]="{'background-color':'#0882f5'}" [align]="'center'" >
        
            <table [width]="'90%'">
                <form id="search-form" name="gs" method="submit" role="search" action="#"></form>
            <tr>
                <td>
                    <select name="from" class="form-select" onchange="this.form.click()">
                        <option selected>From</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Goa">Goa</option>
                        <option value="Bangalore">Bangalore</option>
                    </select>
                </td>
                <td>
                    <select name="area" class="form-select" aria-label="Area" id="chooseCategory" onchange="this.form.click()">
                        <option selected>To</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Goa">Goa</option>
                        <option value="Bangalore">Bangalore</option>
                    </select>
                </td>
                <td>
                    <input type="date" class="dateinput" required id="dateID" >
                </td> -->
                
           <!--  </tr>
            </table></div> -->
        <div [ngStyle]="{'background-color':'azure'}">
            <table><tr><td><img src="https://st.redbus.in/Images/INDOFFER/safetyplus/274_147.png"></td>
        <td><img src="https://s1.rdbuz.com/images/MobileOffers/amazon/offertile..png"></td>
        <td><img src="https://st.redbus.in/Images/buscommon/guidelines.png"></td>
        <td><img src="https://st.redbus.in/Images/INDOFFER/COOLFIRST/274x147a.png"></td>
        <td><img src="https://s1.rdbuz.com/Images/INDOFFER/REET/274x148.png"></td>
        </tr></table></div>
        <div><img src="\assets\we promise to deliver.JPG" width="100%"></div>
        <div><img src="\assets\awards and recog.JPG" width="100%"></div>
        <div><img src="\assets\users and ammenities.JPG" width="100%"></div>