<div [ngStyle]="{'background-color':'azure'}"><div id="regbody" [align]="'center'"> 
    <h3 style="text-align: center;">Login</h3><br><br>
    <form [formGroup]="ContactForm" (ngSubmit)="SubmitInfo()" id="form" >
        <p >
            
            <input type="text"  class="textbox"   placeholder="Username " id="Username" required minlength="5"  
             name="Username" formControlName="Username"/>
        </p>
        <div *ngIf="!Username?.valid && (Username?.dirty || Username?.touched)" class="error">
            <div *ngIf="Username?.errors?.required">
                Please enter Username  
            </div>
        </div>
        <div *ngIf="Username?.errors?.minlength">
            Username minilength is 5
        </div>
        
        <p>
                
                <input type="text" class="textbox" placeholder="Password" id="Password"  name="Password"   formControlName="Password"/>
        </p>
            <div *ngIf="!Password?.valid && (Password?.dirty || Password?.touched)" class="error">
                <div *ngIf="Password?.errors?.pattern">
                    should contain one number,one character and one special
                    character
                </div>
            </div>
            <div *ngIf="Password?.errors?.minlength">
                Too short
            </div>
            <div *ngIf="!Password?.valid && (Password?.dirty || Password?.touched)" class="error">
                <div *ngIf="Password?.errors?.required">
                Please enter Password 
                </div>
            </div>
    
            
    
    
    <div >
            <input type="submit"  id="regbtn"  value="Login" routerLink='admindashboard' >
        </div>

        <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
        </div>
        <div>
            <button type="button">Cancel</button>
        </div>
        <div>
            <a routerLink='AdminForgotPassword'>Forgot Password ?</a>
        </div>
    </form>
</div>