<div [ngStyle]="{'background-color':'azure'}"><div id="regbody" [align]="'center'"> 
    <h3 style="text-align: center;">Change Password</h3><br><br>
    <form [formGroup]="ContactForm" (ngSubmit)="SubmitInfo()" id="form" >
<p>
                
    <input type="text" class="textbox" placeholder="New Password" id="Password"  name="New Password"   formControlName="Password"/>
</p>
<div *ngIf="!Password?.valid && (Password?.dirty || Password?.touched)" class="error">
    <div *ngIf="Password?.errors?.pattern">
        should contain one number,one character and one special
        character
    </div>
</div>
<div *ngIf="Password?.errors?.minlength">
    Too short
</div>
<div *ngIf="!Password?.valid && (Password?.dirty || Password?.touched)" class="error">
    <div *ngIf="Password?.errors?.required">
    Please enter Password 
    </div>
</div>




<div >
<input type="submit"  id="submit"  value="Change" routerLink='userdashboard' >
</div>
