<div [ngStyle]="{'background-color':'azure'}"><div id="regbody" [align]="'center'"> 
    <h3 style="text-align: center;">Sign Up</h3><br><br>
    <form [formGroup]="ContactForm" (ngSubmit)="register()" id="form" >
        <p >
            
            <input type="text"  class="textbox"   placeholder=" Name" id="CustomerName" required minlength="5"  
             name="CustomerName" formControlName="CustomerName"/>
        </p>
        <div *ngIf="!CustomerName?.valid && (CustomerName?.dirty || CustomerName?.touched)" class="error">
            <div *ngIf="CustomerName?.errors?.required">
                Please enter Name  
            </div>
        </div>
        <div *ngIf="CustomerName?.errors?.minlength">
            FirstName minilength is 5
        </div>
       
        <p >
            
            <input type="text"  class="textbox"   placeholder="UserName " id="Username" required minlength="5"  
             name="UserName" formControlName="UserName"/>
        </p>
        <div *ngIf="!UserName?.valid && (UserName?.dirty || UserName?.touched)" class="error">
            <div *ngIf="UserName?.errors?.required">
                Please enter UserName  
            </div>
        </div>
        <div *ngIf="UserName?.errors?.minlength">
            UserName minilength is 5
        </div>
        
        
        <p >
            
            <input type="text" class="textbox"  placeholder="Email Address"  required id="email" name="email" formControlName="CustomerEmail" />
     </p>
        <div *ngIf="!CustomerEmail?.valid && (CustomerEmail?.dirty || CustomerEmail?.touched)" class="error">
            <div *ngIf="CustomerEmail?.errors?.pattern">
                Please enter correct email
            </div>
            <div *ngIf="!CustomerEmail?.valid && (CustomerEmail?.dirty || CustomerEmail?.touched)" class="error">
                <div *ngIf="CustomerEmail?.errors?.required">
                 Email is required 
                </div>
            </div>
            
        </div>
        <p >
            
            <input type="number" class="textbox"  placeholder="Age"  required id="Age" name="Age" formControlName="CustomerAge" />
     </p>
     <!-- <div *ngIf="!CustomerAge?.valid && (CustomerAge?.dirty || CustomerAge?.touched)" class="error">
        <div *ngIf="CustomerAge?.errors?.required">
            Age is required 
        </div>
    </div> -->
    <p >
            
        <input type="text" class="textbox"  placeholder="Gender"  required id="Gender" name="Gender" formControlName="CustomerGender" />
 </p>
 <!-- <div *ngIf="!CustomerGender?.valid && (CustomerGender?.dirty || CustomerGender?.touched)" class="error">
    <div *ngIf="CustomerGender?.errors?.required">
        Gender is required 
    </div>
</div> -->
        <p>
                
                <input type="password" class="textbox" placeholder="Password" id="Password"  name="Password"   formControlName="Password"/>
        </p>
            <div *ngIf="!Password?.valid && (Password?.dirty || Password?.touched)" class="error">
                <div *ngIf="Password?.errors?.pattern">
                    should contain one number,one character and one special
                    character
                </div>
            </div>
            <div *ngIf="Password?.errors?.minlength">
                Too short
            </div>
            <div *ngIf="!Password?.valid && (Password?.dirty || Password?.touched)" class="error">
                <div *ngIf="Password?.errors?.required">
                Please enter Password 
                </div>
            </div>
    
            <p>
                
                <input type="password" class="textbox" placeholder="Confirm Password" required id="CPassword"  name="CPassword"   formControlName="ConfirmPassword"  />
            </p>
            <div *ngIf="!ConfirmPassword?.valid && (ConfirmPassword?.dirty || ConfirmPassword?.touched)" class="error">
            <div *ngIf="ConfirmPassword?.errors?.required">
             Password is required
            </div>
            
        </div>

            
             <p >
                
                <input type="tel" class="textbox"  placeholder="Contact Number"  id="Contact" name="Contact" formControlName="CustomerContact" />
             </p>  
             <div *ngIf="!CustomerContact?.valid && (CustomerContact?.dirty || CustomerContact?.touched)" class="error">
                <div *ngIf="CustomerContact?.errors?.pattern">
                  it should only contain numbers
                </div>
            </div>
            
            <div *ngIf="CustomerContact?.errors?.maxlength">
                maxlength is 10
             </div>
    
    
    <div >
            <input type="submit"  id="regbtn"  value="Sign Up" >
        </div>
        <br>
        <div><h3>Already have an account?</h3> <a routerLink='Login'>Login</a></div>
    </form>
</div>