<div id="regbody" [align]="'center'"> 
    <h3 style="text-align: center;">Sign Up</h3><br><br>
    <form [formGroup]="ContactForm" (ngSubmit)="Submitinfo()" id="form" >
        <p  >
            <input type="text" class="textbox"  placeholder="Email Address"  required id="email" name="email" formControlName="EmailAddress" />
     </p>
        <div *ngIf="!EmailAddress?.valid && (EmailAddress?.dirty || EmailAddress?.touched)" class="error">
            <div *ngIf="EmailAddress?.errors?.pattern">
                Please enter correct email
            </div>
            <div *ngIf="!EmailAddress?.valid && (EmailAddress?.dirty || EmailAddress?.touched)" class="error">
                <div *ngIf="EmailAddress?.errors?.required">
                 Email is required 
                </div>
            </div>
            
        </div>
        <div >
            <input type="submit"  id="regbtn"  value="Submit" >
        </div>
    </form>


