<!-- <div [ngStyle]="{'background-color':'azure'}"><table>
    <tr>
        
        <td><h3>From</h3></td>
        <td><h3>Destination</h3></td>
        <td><h3>ScheduledDate</h3></td>
        
        <td><h3>DepartureTime</h3></td>
        <td><h3>ArrivalTime</h3></td>
        
        <td><h3>FareAmount</h3></td>
        <td> </td>
    </tr> -->
    <div class="container" >
    
      
     
  
          
      <form id="bus-form" [formGroup]="SearchBusForm"  (ngSubmit)="SearchBus()">
      
        <div  *ngIf="!message">
      
            
            
            <table>
              <tr>
                 
            <div id="bus-depart">
              <td><div >
                <label for="" >From</label>
                <select  id="Startingpt" name="Startingpt"  formControlName="Startingpt">
                  <option value="Mumbai">Mumbai</option>
                  <option value="Pune">Pune</option>
                  <option value="Goa">Goa</option>
                  <option value="Bangalore">Bangalore</option>
                </select>
                </div>
              </td>
              <td><div id="arrive-box">
                <label for="" >Destination</label>
                <select id="Destination" name="Destination" #fn formControlName="Destination" >
                  <option value="Mumbai">Mumbai</option>
                  <option value="Pune">Pune</option>
                  <option value="Goa">Goa</option>
                  <option value="Bangalore">Bangalore</option>
                </select>
              </div></td>
            </div>
            
            
            <div id="bus-dates">
              <td><div >
                  <label for="">Scheduled Date</label>
                  <input type="date" id="Departuredate" name="ScheduledDate" #fn formControlName="ScheduledDate"  />
                </div></td>
             </div>
            
          </tr>
          </table>
          <div class="filter-titles f-12 f-bold">DEPARTURE TIME</div>
          <ul class="dept-time dt-time-filter">
            <li data-value="" class="checkbox">
              <input type="checkbox" id="dtBefore 6 am">
              <label for="dtBefore 6 am" class="custom-checkbox"></label>
              <span><i class="icon fl icon-morning"></i></span>
              <label for="dtBefore 6 am" class="cbox-label" title="Before 6 am"> 6 am to 5pm </label></li>
            <li data-value="" class="checkbox">
              <input type="checkbox" id="dt6 am to 12 pm">
              <label for="dt6 am to 12 pm" class="custom-checkbox"></label>
              <span><i class="icon fl icon-afternoon"></i></span>
              <label for="dt6 am to 12 pm" class="cbox-label" title="6 am to 12 pm">After 5pm</label></li>
           
          </ul>
          <div class="filter-titles f-12 f-bold">ARRIVAL TIME</div>
          <ul class="dept-time at-time-filter">
          <li data-value="" class="checkbox">
              <input type="checkbox" id="atBefore 6 am">
              <label for="atBefore 6 am" class="custom-checkbox">

              </label><span><i class="icon fl icon-morning"></i></span>
              <label for="atBefore 6 am" class="cbox-label" title="Before 6 am"> Before 6 pm</label></li>
           <li data-value="" class="checkbox"><input type="checkbox" id="at6 am to 12 pm">
            <label for="at6 am to 12 pm" class="custom-checkbox">

            </label><span><i class="icon fl icon-afternoon"></i></span>
            <label for="at6 am to 12 pm" class="cbox-label" title="6 am to 12 pm">6 pm to 12 pm </label></li>
           </ul>
            
          <div id="bus-search">
            <div class="info-box">
              <input type="submit" id="search-bus" value="Book"/>
            </div>
         </div>


         
          </div>
      
      
          
          <div *ngIf="message"> 
            
           <table>
            <tr>
          
              <td><h3>Starting Point</h3></td>
              
              <td><h3>Destination</h3></td>
              <td><h3>ScheduledDate</h3></td>
              
              <td><h3>DepartureTime</h3></td>
              <td><h3>ArrivalTime</h3></td>
              
              <td><h3>FareAmount</h3></td>
              <td> </td>
          </tr> </table>
             
            <div  *ngFor="let items of bus">
              
              <table>
                <tr>
                  <td>{{items.startingpt}}</td>
                  <td>{{items.destination}}</td>
                  <td>{{items.scheduledDate}}</td>
          
                  <td>{{items.departureTime}}</td>
                  <td>{{items.arrivalTime}}</td>
          
                  <td>{{items.fareAmount}}</td>
                  <button  routerLink='Seat' > Book seats</button>
                  <button routerLink='Enterpassengerdetails'>Enter Passenger Details</button>
                </tr>
              </table>  
                    
            </div>
             <button  (click)="back()" > Back</button>
          </div>
      
        </form>
      
  
    </div>
